<!-- <tr>
    <th><%=key%></th>
    <td><%=data[key]%></td>
</tr>
-->

<tr>
        <table>
            <tr><th><%= key %></th></tr>
            <% for(var i in val){ %>
                <tr><td><%= val[i] %></td></tr>
            <% } %>
        </table>
</tr>